USE [master]
GO
/****** Object:  Database [MVC_UserDB2]    Script Date: 2023/6/25 下午 11:22:31 ******/
CREATE DATABASE [MVC_UserDB2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MVC_UserDB2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MVC_UserDB2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MVC_UserDB2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MVC_UserDB2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MVC_UserDB2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MVC_UserDB2]
GO
/****** Object:  Table [dbo].[DepartmentTable2]    Script Date: 2023/6/25 下午 11:22:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DepartmentTable2](
	[DepartmentId] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](50) NULL,
	[DepartmentY] [nvarchar](50) NULL,
 CONSTRAINT [PK_DepartmentTable2] PRIMARY KEY CLUSTERED 
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTable2]    Script Date: 2023/6/25 下午 11:22:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTable2](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[UserSex] [nchar](10) NULL,
	[UserBirthDay] [datetime2](7) NULL,
	[UserMobilePhone] [nvarchar](50) NULL,
	[UserApproved] [bit] NULL,
	[DepartmentId] [int] NULL,
 CONSTRAINT [PK_UserTable2] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DepartmentTable2] ON 

INSERT [dbo].[DepartmentTable2] ([DepartmentId], [DepartmentName], [DepartmentY]) VALUES (1, N'資訊管理系', N'四年制')
INSERT [dbo].[DepartmentTable2] ([DepartmentId], [DepartmentName], [DepartmentY]) VALUES (2, N'財務金融系', N'四年制')
INSERT [dbo].[DepartmentTable2] ([DepartmentId], [DepartmentName], [DepartmentY]) VALUES (3, N'行銷管理系', N'四年制')
SET IDENTITY_INSERT [dbo].[DepartmentTable2] OFF
GO
ALTER TABLE [dbo].[UserTable2]  WITH CHECK ADD  CONSTRAINT [FK_UserTable2_DepartmentTable2] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[DepartmentTable2] ([DepartmentId])
GO
ALTER TABLE [dbo].[UserTable2] CHECK CONSTRAINT [FK_UserTable2_DepartmentTable2]
GO
USE [master]
GO
